<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting Stock Data Using a Web Scraping</h1>

Not all stock data is available via API in this assignment; you will use web-scraping to obtain financial data. You will be quizzed on your results.  
 Using beautiful soup we will extract historical share data from a web-page.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Downloading the Webpage Using Requests Library</li>
        <li>Parsing Webpage HTML Using BeautifulSoup</li>
        <li>Extracting Data and Building DataFrame</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [1]:
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

Requirement already satisfied: bs4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from beautifulsoup4->bs4) (2.2.1)

In [2]:
!pip install plotly

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from plotly) (1.15.0)

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Using Webscraping to Extract Stock Data

##### Use the `requests` library to download the webpage [https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true](https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Save the text of the response as a variable named `html_data`.

#### 下面用amazon_data的是他給的答案，stock_data是我寫的

In [4]:
html_data=requests.get('https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true').text

Parse the html data using `beautiful_soup`.

In [5]:
soup = BeautifulSoup(html_data,'html5lib')

In [6]:
table=soup.find("table",class_="W(100%) M(0)")
rows=table.find("tbody").find_all("tr")

In [7]:
test=pd.DataFrame(columns=['a','b','c'])
test.append({'a':1,'b':2,'c':3},ignore_index=True)

   a  b  c
0  1  2  3

In [8]:
rows2=soup.find('table').find_all('tr')
del rows2[0]
rows2[0].find_all('td')

[<td class="Py(10px) Ta(start) Pend(10px)" data-reactid="52"><span data-reactid="53">Jan 01, 2021</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="54"><span data-reactid="55">3,270.00</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="56"><span data-reactid="57">3,363.89</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="58"><span data-reactid="59">3,086.00</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="60"><span data-reactid="61">3,206.20</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="62"><span data-reactid="63">3,206.20</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="64"><span data-reactid="65">71,529,900</span></td>]

In [9]:
rows1=soup.find("tbody").find_all("tr")
rows1[0].find_all('td')

[<td class="Py(10px) Ta(start) Pend(10px)" data-reactid="52"><span data-reactid="53">Jan 01, 2021</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="54"><span data-reactid="55">3,270.00</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="56"><span data-reactid="57">3,363.89</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="58"><span data-reactid="59">3,086.00</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="60"><span data-reactid="61">3,206.20</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="62"><span data-reactid="63">3,206.20</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="64"><span data-reactid="65">71,529,900</span></td>]

In [10]:
rows2[0].find_all('td')==rows[0].find_all('td')

True

In [11]:
len(rows[0])==len(rows2[0])

True

In [12]:
len(rows)

61

In [13]:
list=[]
list=list+[True]
list=list+[False]
list

[True, False]

In [14]:
rows[0].find_all("td")[6].text

'71,529,900'

In [15]:
stock_data=pd.DataFrame(columns=['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close','Volume'])
stock_data

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [16]:
for row in rows:
    col=row.find_all("td")
    a=col[0].text
    b=col[1].text
    c=col[2].text
    d=col[3].text
    e=col[4].text
    f=col[5].text
    g=col[6].text
    stock_data=stock_data.append({'Date':a,'Open':b, 'High':c, 'Low':d, 'Close':e, 'Adj Close':f,'Volume':g},ignore_index=True)

stock_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,"Jan 01, 2021","3,270.00","3,363.89","3,086.00","3,206.20","3,206.20","71,529,900"
1,"Dec 01, 2020","3,188.50","3,350.65","3,072.82","3,256.93","3,256.93","77,567,800"
2,"Nov 01, 2020","3,061.74","3,366.80","2,950.12","3,168.04","3,168.04","90,810,500"
3,"Oct 01, 2020","3,208.00","3,496.24","3,019.00","3,036.15","3,036.15","116,242,300"
4,"Sep 01, 2020","3,489.58","3,552.25","2,871.00","3,148.73","3,148.73","115,943,500"
...,...,...,...,...,...,...,...
56,"May 01, 2016",663.92,724.23,656.00,722.79,722.79,"90,614,500"
57,"Apr 01, 2016",590.49,669.98,585.25,659.59,659.59,"78,464,200"
58,"Mar 01, 2016",556.29,603.24,538.58,593.64,593.64,"94,009,500"
59,"Feb 01, 2016",578.15,581.80,474.00,552.52,552.52,"124,144,800"
60,"Jan 01, 2016",656.29,657.72,547.18,587.00,587.00,"130,200,900"

<b>Question 1</b> what is the content of the title attribute:

In [17]:
soup.title

Using beautiful soup extract the table with historical share prices and store it into a dataframe named `amazon_data`. The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list `col`. 

Hint: Print the `col` list to see what data to use

In [18]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date =col[0].text
    Open =col[1].text
    high =col[2].text
    low =col[3].text
    close =col[4].text
    adj_close =col[5].text
    volume =col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

Print out the first five rows of the `amazon_data` dataframe you created.

In [19]:
amazon_data.head()

           Date      Open      High       Low     Close       Volume Adj Close
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,529,900  3,206.20
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,567,800  3,256.93
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500  3,168.04
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,242,300  3,036.15
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,943,500  3,148.73

# 驗證我的有沒有跟答案的一樣

### 喔但我發現，我們的表格長不一樣，最後兩column相反

In [20]:
stock_data.shape #我的

(61, 7)

In [21]:
amazon_data.shape #解答的

(61, 7)

## 整理下我的全部code（前面太多亂亂的嘗試了）

In [22]:
html_data=requests.get('https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true').text
soup = BeautifulSoup(html_data,'html5lib')
table=soup.find("table",class_="W(100%) M(0)")
rows=table.find("tbody").find_all("tr")
stock_data=pd.DataFrame(columns=['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close','Volume'])
for row in rows:
    col=row.find_all("td")
    a=col[0].text
    b=col[1].text
    c=col[2].text
    d=col[3].text
    e=col[4].text
    f=col[5].text
    g=col[6].text
    stock_data=stock_data.append({'Date':a,'Open':b, 'High':c, 'Low':d, 'Close':e, 'Adj Close':f,'Volume':g},ignore_index=True)

stock_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,"Jan 01, 2021","3,270.00","3,363.89","3,086.00","3,206.20","3,206.20","71,529,900"
1,"Dec 01, 2020","3,188.50","3,350.65","3,072.82","3,256.93","3,256.93","77,567,800"
2,"Nov 01, 2020","3,061.74","3,366.80","2,950.12","3,168.04","3,168.04","90,810,500"
3,"Oct 01, 2020","3,208.00","3,496.24","3,019.00","3,036.15","3,036.15","116,242,300"
4,"Sep 01, 2020","3,489.58","3,552.25","2,871.00","3,148.73","3,148.73","115,943,500"
...,...,...,...,...,...,...,...
56,"May 01, 2016",663.92,724.23,656.00,722.79,722.79,"90,614,500"
57,"Apr 01, 2016",590.49,669.98,585.25,659.59,659.59,"78,464,200"
58,"Mar 01, 2016",556.29,603.24,538.58,593.64,593.64,"94,009,500"
59,"Feb 01, 2016",578.15,581.80,474.00,552.52,552.52,"124,144,800"
60,"Jan 01, 2016",656.29,657.72,547.18,587.00,587.00,"130,200,900"

<b>Question 2</b> What is the name of the columns of the dataframe

In [23]:
stock_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

<b>Question 3</b> What is the `Open` of `Jun 01, 2019` of the dataframe?

In [28]:
import numpy as np
mask = stock_data['Date'] == 'Jun 01, 2019'
pos = np.flatnonzero(mask)  # 返回的是array([0, 2, 4, 6, 7])，是positive的位置
stock_data.iloc[pos]

            Date      Open      High       Low     Close Adj Close      Volume
19  Jun 01, 2019  1,760.01  1,935.20  1,672.00  1,893.63  1,893.63  74,746,500

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>