<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Application Programming Interface

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Create and Use APIs in Python

### Introduction

An API lets two pieces of software talk to each other. Just like a function,  you don’t have to know how the API works only its inputs and outputs.  An essential type of API is a REST API that allows you to access resources via the internet. In this lab, we will review the Pandas Library  in the context of an API, we will also review a basic REST API

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref0">Pandas is an API</a></li>
<li><a href="#ref1">REST APIs Basics  </a></li>
<li><a href="#ref2">Quiz on Tuples</a></li>

</div>

<hr>

In [2]:
!pip install pycoingecko
!pip install plotly
!pip install mplfinance

Collecting pycoingecko
  Using cached pycoingecko-2.2.0-py3-none-any.whl (8.3 kB)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.8/site-packages (from pycoingecko) (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests->pycoingecko) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests->pycoingecko) (1.25.11)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.2.0
Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.8/site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in /opt/anaconda3/lib/python3.8/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from plotly) (1.15.0)
Collecting mplfinance
  Using cached mplfinance-0.12.7a17-py3-none-any.whl (62 kB)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (from mplfinance) (1.1.3)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.8/site-packages (from mplfinance) (3.3.2)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->mplfinance) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->mplfinance) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->mplfinance) (1.19.2)
Requirement already satisfied: certifi>=2020.06.20 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->mplfinance) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->mplfinance) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->mplfinance) (8.0.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->mplfinance) (1.15.0)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.7a17

<h2 id="PandasAPI">Pandas is an API </h2>

Pandas is actually set of software components , much of  which is not even written in Python.

In [3]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

You create a dictionary, this is just data.

In [4]:
dict_={'a':[11,21,31],'b':[12,22,32]}

When you create a Pandas object with the Dataframe constructor in API lingo, this is an "instance". The data in the dictionary is passed along to the pandas API. You then use the dataframe to communicate with the API.

In [5]:
df=pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/images/pandas_api.png" width = 800, align = "center" alt="logistic regression block diagram" />

When you call the method head the dataframe communicates with the API displaying the first few rows of the dataframe.

In [ ]:
df.head()

When you call the method mean,the API will calculate the mean and return the value.

In [ ]:
df.mean()

<h2 id="ref1">REST APIs</h2>

Rest API’s function by sending a request,  the request is communicated via HTTP message. The HTTP message usually contains a JSON file. This contains instructions for what operation we would like the service or resource to perform. In a similar manner, API returns a response, via an HTTP message, this response is usually contained within a JSON.

In cryptocurrency a popular method to display the movements of the price of a currency.

![Example Candlestick Graph](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/candlestick.png)

Here is a description of the candle sticks.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/explanation.png" alt="Candle Stick Definition" width="800" height="600">

In this lab, we will be using the <a href=https://www.coingecko.com/en/api?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01>CoinGecko API</a> to create one of these candlestick graphs for Bitcoin. We will use the API to get the price data for 30 days with 24 observation per day, 1 per hour. We will find the max, min, open, and close price per day meaning we will have 30 candlesticks and use that to generate the candlestick graph. Although we are using the CoinGecko API we will use a Python client/wrapper for the API called <a href=https://github.com/man-c/pycoingecko?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01>PyCoinGecko</a>. PyCoinGecko will make performing the requests easy and it will deal with the enpoint targeting.

Lets start off by getting the data we need. Using the <code>get_coin_market_chart_by_id(id, vs_currency, days)</code>. <code>id</code> is the name of the coin you want, <code>vs_currency</code> is the currency you want the price in, and <code>days</code> is how many days back from today you want.

In [6]:
cg = CoinGeckoAPI()

bitcoin_data = cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd', days=30)

In [7]:
type(bitcoin_data )

dict

The response we get is in the form of a JSON which includes the price, market caps, and total volumes along with timestamps for each observation. We are focused on the prices so we will select that data.

In [8]:
bitcoin_price_data = bitcoin_data['prices']

bitcoin_price_data[0:5]

[[1624093304852, 36028.37953770993],
 [1624096987168, 35809.168868345456],
 [1624100526006, 35941.634121004994],
 [1624104126251, 36070.82207093339],
 [1624107673040, 35751.41347229755]]

Finally lets turn this data into a Pandas DataFrame.

In [10]:
data = pd.DataFrame(bitcoin_price_data, columns=['TimeStamp', 'Price'])
data

         TimeStamp         Price
0    1624093304852  36028.379538
1    1624096987168  35809.168868
2    1624100526006  35941.634121
3    1624104126251  36070.822071
4    1624107673040  35751.413472
..             ...           ...
716  1626670825752  31818.907378
717  1626674469658  31931.418112
718  1626678100237  31841.665922
719  1626681674985  31681.097633
720  1626684116000  31617.781238

[721 rows x 2 columns]

Now that we have the DataFrame we will convert the timestamp to datetime and save it as a column called <code>Date</code>. We will map our <code>unix_to_datetime</code> to each timestamp and convert it to a readable datetime.

In [15]:
# date.fromtimestamp(timestamp):根據提供的時間戳返回local date，python默認的時間戳是10位，精度是秒。java是13位，精度是毫秒。
data['date'] = data['TimeStamp'].apply(lambda d: datetime.date.fromtimestamp(d/1000))
data

         TimeStamp         Price        date
0    1624093304852  36028.379538  2021-06-19
1    1624096987168  35809.168868  2021-06-19
2    1624100526006  35941.634121  2021-06-19
3    1624104126251  36070.822071  2021-06-19
4    1624107673040  35751.413472  2021-06-19
..             ...           ...         ...
716  1626670825752  31818.907378  2021-07-19
717  1626674469658  31931.418112  2021-07-19
718  1626678100237  31841.665922  2021-07-19
719  1626681674985  31681.097633  2021-07-19
720  1626684116000  31617.781238  2021-07-19

[721 rows x 3 columns]

Using this modified dataset we can now group by the <code>Date</code> and find the min, max, open, and close for the candlesticks.

In [17]:
candlestick_data = data.groupby(data.date, as_index=False).agg({"Price": ['min', 'max', 'first', 'last']})
candlestick_data

          date         Price
                         min           max         first          last
0   2021-06-19  35751.413472  36253.124976  36028.379538  36253.124976
1   2021-06-20  33928.239407  36297.337563  36087.228242  34146.426674
2   2021-06-21  32255.470633  35902.419544  34665.449408  33075.187393
3   2021-06-22  29154.732122  33171.712612  32662.729294  30643.785275
4   2021-06-23  31914.401391  34702.185413  31914.401391  34170.503695
5   2021-06-24  32494.367044  34077.653113  33583.645065  34077.653113
6   2021-06-25  32752.045216  35205.780230  33948.907190  32752.045216
7   2021-06-26  30141.461625  32842.477151  32842.477151  31203.920067
8   2021-06-27  31351.369769  33500.249918  31548.693388  33304.882467
9   2021-06-28  32767.219874  35171.134943  33229.711074  34389.177345
10  2021-06-29  34189.038001  36401.022754  34940.944080  36362.482798
11  2021-06-30  34481.872254  36412.012476  36233.904088  34746.751416
12  2021-07-01  33220.878788  35171.486305  34252.392988  33220.878788
13  2021-07-02  32848.177624  33779.554214  33569.658382  33545.641467
14  2021-07-03  33222.903140  34735.591651  33660.635328  34707.610332
15  2021-07-04  34564.754842  35648.677914  34662.148747  35524.398071
16  2021-07-05  33591.274618  35999.840044  35553.360861  33813.316406
17  2021-07-06  33477.870784  34981.755700  33739.836863  34106.339779
18  2021-07-07  33790.483678  34896.269656  34103.394702  34645.808964
19  2021-07-08  32419.564309  34751.280670  34596.442482  32822.715189
20  2021-07-09  32406.328806  33606.844836  32925.973255  33606.844836
21  2021-07-10  33432.441051  34173.031366  33695.034152  33912.713398
22  2021-07-11  33407.343222  34247.224326  33915.106257  34050.254334
23  2021-07-12  33559.747895  34596.993395  34016.968049  33559.747895
24  2021-07-13  32482.048243  33421.938944  33421.938944  32613.987629
25  2021-07-14  31856.382637  32924.323881  32871.015191  32924.323881
26  2021-07-15  31888.018782  33098.661964  32879.811318  31952.165763
27  2021-07-16  31174.142554  32035.178570  31836.137555  31919.695853
28  2021-07-17  31340.322628  32196.821372  32196.821372  31749.125627
29  2021-07-18  31262.148761  32239.857247  31833.020963  31262.148761
30  2021-07-19  31469.260138  31931.418112  31469.260138  31617.781238

Finally we are now ready to use plotly to create our Candlestick Chart.

In [ ]:
fig = go.Figure(data=[go.Candlestick(x=candlestick_data['date'],
                open=candlestick_data['Price']['first'], 
                high=candlestick_data['Price']['max'],
                low=candlestick_data['Price']['min'], 
                close=candlestick_data['Price']['last'])
                ])

fig.update_layout(xaxis_rangeslider_visible=False)

fig.show()

## Authors:

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-11-23 | 3.0 | Azim Hirjani | New API |
| 2020-09-09 | 2.1 | Malika Singla | Spell Check |
| 2020-08-26  | 2.0  | Lavanya | Moved lab to course repo in GitLab |
|   |   |   |   |

<hr/>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>